<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Control</title>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="xuly.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
	
</style>
<body>
	<center><h1>CHÀO MỪNG BẠN ĐÃ TRỞ LẠI</h1>
	<h1>Trạng thái đèn<font color = "red"><div id="ledStatus"></div></h1></font>
	<h1>Điều Khiển Đèn   
	<button type="button" id="btON"><h3>Bật Đèn</h3></button>
	<button type="button" id="btOFF"><h3>Tắt Đèn</h3></button></h1>
	
	<h1>Trạng thái quạt <font color = "red"><div id="fanStatus"></div></h1></font>
	<h1>Điều Khiển Quạt       
	<button type="button" id="btON_fan"><h3>Bật Quạt</h3></button>
	<button type="button" id="btOFF_fan"><h3>Tắt Quạt</h3></button></h1></center>
</body>
</html>